{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com vídeo gratuito de Python{% endblock description %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5 mb-2">{{ aula.titulo | default:"Faltando Título" }}</h1>
            <iframe src="https://player.vimeo.com/video/{{ aula.vimeo_id }}" width="640" height="480" frameborder="0"
                    allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock body %}