<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <address>
                    <a class="text-light" href="tel:+5584998800234">+55 84 998800234</a>
                    <br/>
                    <a class="text-light" href="mailto:{{contato_email}}">{{contato_email}}</a>
                </address>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Python Pro. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>